@import

 "@primer/css/support/variables/layout.scss";
@import "@primer/css/support/mixins/layout.scss";

.payloadExample {﻿2024-04-04T20:45:06.3615485Z Current runner version: '2.315.0'
Operating System
Runner Image
Runner Image Provisioner
GITHUB_TOKEN Permissions
Secret source: Actions
Prepare workflow directory
Prepare all required actions
Getting action download info
Download action repository 'actions/github-script@e69ef5462fd455e02edcaf4dd7708eda96b9eda0' (SHA:e69ef5462fd455e02edcaf4dd7708eda96b9eda0)
Download action repository 'someimportantcompany/github-actions-slack-message@a975b440de2bcef178d451cc70d4c1161b5a30cd' (SHA:a975b440de2bcef178d451cc70d4c1161b5a30cd)
Download action repository 'actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11' (SHA:b4ffde65f46336ab88eb53be808477a3936bae11)
Complete job name: check-team-membership
  margin-bottom: 1rem;
  line-height: 1.45;
  background-color: var(--color-canvas-subtle);
  font-size: 90%;

  code {
    background-color: transparent;
    padding: 8px 8px 16px;
  }
}
